#showcase {
  background: url(../img/Reflect.jpg) no-repeat center/cover fixed;
  position: relative;
  min-height: 650px;
  color: #fff;
  padding-top: 6rem;
}

#showcase .home-search {
  min-height: 400px;
  position: relative;
  border-radius: 5px;
}

#showcase .overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  min-height: 400px;
  width: 100%;
  background: rgba(51, 51, 51, 0.8);
}

#showcase .form-control {
  opacity: 0.8;
}

.xl-text {
  font-size: 65px;
}

.navbar .banner {
  top: -22px;
  left: 150px;
  width: 120px;
  opacity: 0.92;
}

.navbar .star {
  top: -20px;
  left: 51px;
  width: 100px;
  opacity: 0.77;
}

.header {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url(../img/Serene.jpg) left center no-repeat;
  background-size: cover;
  background-position-y: 1px;
  height: 550px;
  z-index: 0;
}

#projects .projection {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url(../img/Mit-Lab.jpg) left center no-repeat;
  background-size: cover;
  background-position-y: 1px;
  height: 750px;
  overflow-y: hidden;
  z-index: 0;
}

.indent-paragraph {
  text-indent: 2rem; /* Adjust the indent size as needed */
}

.hr-heading {
  display: inline-block;
  width: 3.5rem;
  height: 0.125rem;
  margin-top: 0.625rem;
  border: none;
  background-color: var(--bs-primary);
  opacity: 1;
}

.section .border-troll {
  border: 5px;
  border-color: red;
}

.article-card {
  width: 100%;
  height: 250px;
  object-fit: fit;
}

.career-card {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.career-logo {
  border-radius: 20%;
  width: 15%;
  height: 15%;
  position: relative;
  right: 30px;
  top: 20px;
}

.career-link {
  width: 150px;
}

.vertical-decoration {
  top: 12%;
  width: 22px;
  z-index: 1;
}

.details .vertical-decoration {
  top: 25px;
  left: 0;
  width: 24px;
}

.details-2 .vertical-decoration {
  top: -35px;
  right: -70px;
  height: 500px;
  width: 122px;
}

.details .decoration-star {
  top: 100px;
  left: -200px;
  width: 700px;
  opacity: 0.43;
}

.solutions .decoration-star-right {
  position: relative;
  right: -170px;
  width: 700px;
  opacity: 0.53;
}

.footer .penguin {
  width: 250px;
  left: 100px;
  opacity: 0.45;
}

.penguin-zero {
  width: 70px;
  opacity: 1;
}

.to-top-btn {
  position: fixed;
  z-index: 20;
  bottom: 20px;
  right: 20px;
  opacity: 0;
  width: 42px;
  height: 42px;
  border: none;
  border-radius: 50%;
  outline: 100%;
  outline-color: black;
  background-color: #95ab01;
  cursor: pointer;
  transition: all 0.7s ease-in-out;
}

.to-top-btn:hover {
  background-color: #a9c301;
}

.to-top-btn img {
  margin-bottom: 0.15rem;
  width: 18px;
}

.show {
  opacity: 1;
}

@media (max-width: 992px) {
  .xl-text {
    font-size: 50px;
  }
  .career-link {
    width: 90px;
  }
  .header {
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9)), url(../img/Autism.jpg) center center no-repeat;
    z-index: -1;
  }
}
